<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>k-joseph</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<!-- Required Modules -->
	<require_modules>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.openmrs.module.reportingrest</require_module>
		<require_module version="${dhisconnectorVersion}">org.openmrs.module.dhisconnector</require_module>
	</require_modules>
	<!-- / Required Modules -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DHISReportingActivator</activator>

	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		DHISReporting.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>dhisreporting.bloodSmearConceptId</property>
		<defaultValue>1476</defaultValue>
		<description>BLOOD SMEAR concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.microFilariaConceptId</property>
		<defaultValue>7232</defaultValue>
		<description>MICRO-FILARIA concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.trypanosomaConceptId</property>
		<defaultValue>7230</defaultValue>
		<description>TRYPANOSOMA concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.giardiaConceptId</property>
		<defaultValue>7234</defaultValue>
		<description>GIARDIA concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.ascariasisConceptId</property>
		<defaultValue>9581</defaultValue>
		<description>ASCARIASIS concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.anklyostiasisConceptId</property>
		<defaultValue>9582</defaultValue>
		<description>ANKLYOSTOMIASIS concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.taeniaConceptId</property>
		<defaultValue>9580</defaultValue>
		<description>TAENIA concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.otherParasitesConceptId</property>
		<defaultValue>8012</defaultValue>
		<description>OTHER PARASITES concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.pregnancyTestConceptId</property>
		<defaultValue>2473</defaultValue>
		<description>PREGNANCY TEST concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.hemoglobinConceptId</property>
		<defaultValue>21</defaultValue>
		<description>HEMOGLOBIN concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.rprConceptId</property>
		<defaultValue>1478</defaultValue>
		<description>RPR / RAPID PLASMA REAGENT concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.fullBloodCountConceptId</property>
		<defaultValue>7836</defaultValue>
		<description>FULL BLOOD COUNT concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.creatinineConceptId</property>
		<defaultValue>790</defaultValue>
		<description>CREATININE concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.amylasseConceptId</property>
		<defaultValue>3054</defaultValue>
		<description>SERUM AMYLASE/AMYLASE concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.cd4CountConceptId</property>
		<defaultValue>5497</defaultValue>
		<description>CD4 COUNT/CD4 concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.widalConceptId</property>
		<defaultValue>7661</defaultValue>
		<description>WIDAL concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.derebrospinalFluidConceptId</property>
		<defaultValue>1594</defaultValue>
		<description>CEREBROSPINAL FLUID concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.defaultLocationId</property>
		<defaultValue>1</defaultValue>
		<description>Default location id from OpenMRS that matches the next
			configuration of orgunit
		</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.configuredDHISOrgUnitUIdMatchingDefaultLocation
		</property>
		<defaultValue>vjFcsoL24z5</defaultValue>
		<description>Configured organization unit code (the real id is mapped
			in the dhis-mappings.properties file) or fos id in Rwanda that
			matches the configured default location id
		</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.concept.viralLoad</property>
		<defaultValue>856</defaultValue>
		<description>Viral Load concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.concept.exitCareReason</property>
		<defaultValue>1811</defaultValue>
		<description>Reason Exit Care concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.concept.ARVDrugs</property>
		<defaultValue>1085</defaultValue>
		<description>ANTIRETROVIRAL DRUGS concept set id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.program.HIV</property>
		<defaultValue>2</defaultValue>
		<description>HIV program id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.program.TB</property>
		<defaultValue>4</defaultValue>
		<description>TB program id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.concept.hivStatus</property>
		<defaultValue>2169</defaultValue>
		<description>RESULT OF HIV TEST concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.concept.positive</property>
		<defaultValue>703</defaultValue>
		<description>POSITIVE concept id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.mappings.madeChanges</property>
		<defaultValue>false</defaultValue>
		<description>Set to true only if you have made changes to pepfar-meta-datim.csv mappings file</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.newOnARTPeriodInMonths</property>
		<defaultValue>3</defaultValue>
		<description>period a patient is marked as being new on ART in months</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.preventionUuid</property>
		<defaultValue>7e1623bc-ff30-11e6-bc64-92361f002671</defaultValue>
		<description>prevention report uuid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.hivStatus</property>
		<defaultValue>7e162484-ff30-11e6-bc64-92361f002671</defaultValue>
		<description>hiv status report uuid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.onARTUuid</property>
		<defaultValue>7e162556-ff30-11e6-bc64-92361f002671</defaultValue>
		<description>on ART report uuid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.othersUuid</property>
		<defaultValue>7e162628-ff30-11e6-bc64-92361f002671</defaultValue>
		<description>Other report uuid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.cohort.tbARTdeno</property>
		<defaultValue>389025b4-0e20-11e7-93ae-92361f002671</defaultValue>
		<description>on TB_ART report denoniminator cohort uuid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.dataset.onARTUid</property>
		<defaultValue>K4ahCwZBSy6</defaultValue>
		<description>on ART dhis dataset uid</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.dataset.onARTPeriodType</property>
		<defaultValue>Quarterly</defaultValue>
		<description>on ART dhis dataset periodType</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.reporting.disableWebReportsDeletion</property>
		<defaultValue>true</defaultValue>
		<description>set to false to enable deleting of MER 2.0 reports</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.dhis.postSampleMetaFromMapping</property>
		<defaultValue>true</defaultValue>
		<description>Auto setting to monitor posting sample metadata from csv mappings</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.program.PMTCT</property>
		<defaultValue>1</defaultValue>
		<description>PMTCT Program Id</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.patients.pregnant</property>
		<defaultValue></defaultValue>
		<description>Set to PATIENT PREGNANT concept id (1755) when the implementation uses it</description>
	</globalProperty>
	<globalProperty>
		<property>dhisreporting.hiv.PCR</property>
		<defaultValue>1553</defaultValue>
		<description>Concept id for a virologic HIV (PCR) test</description>
	</globalProperty>
</module>

